<!DOCTYPE html>
<html lang="en">
  <head>
    {% include experiments.html %}
    {% include meta.html %}

    <title>{{ site.title }}</title>

    <link href="/vendor/bootstrap/dist/toolkit-minimal.min.css" rel="stylesheet">
    <link href="/index.css?1" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  </head>
  <body>


{{ content }}

    <script src="/vendor/bootstrap/dist/toolkit.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.js"></script>
  </body>
</html>
